@model Practica6Unidad2.Models.Producto
@{
    ViewBag.Title = "Guardar Producto";
}

<h2>Guardar producto</h2>
<div>
    <form method="post" action="/Home/Guardar">
        <hr />
        <dl class="dl-horizontal">
            <dt>Codigo</dt>
            <dd>
                @Html.EditorFor(model => Model.Id, new { htmlAttributes = new { @class = "form-control", @name = "Codigo" } })
            </dd>
            <dt>Descripcion</dt>
            <dd>
                @Html.EditorFor(model => Model.Descripcion, new { htmlAttributes = new { @class = "form-control", @name = "Descripcion" } })
            </dd>
            <dt>Tipo</dt>
            <dd>
                @Html.EditorFor(model => Model.Tipo, new { htmlAttributes = new { @class = "form-control", @name = "Tipo" } })
            </dd>
            <dt>Precio</dt>
            <dd>
                @Html.EditorFor(model => Model.Precio, new { htmlAttributes = new { @class = "form-control", @name = "Precio" } })
            </dd>
        </dl>
        <br />
        <p><input class="btn btn-success" type="submit" name="Grabar" value="Guardar" /></p>
    </form>
    <p>@Html.ActionLink(" Retornar", "Index", null, new { @class = "glyphicon glyphicon-backward" })</p>
</div>

