
@model List<Practica6Unidad2.Models.Producto>

@{
    ViewBag.Title = "Index";
    var c = Model.Count();
}

<h2>Listado de productos</h2>
<h5>Total de productos @c</h5>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Descripcion</td>
            <td>@p.Tipo</td>
            <td>@p.Precio</td>
            <td><abbr title="Modificar"><a href="/Home/Modificar?cod=@p.Id" class="glyphicon glyphicon-edit"> </a></abbr></td>
            <td><abbr title="Eliminar"><a href="/Home/Borrar?cod=@p.Id" class="glyphicon glyphicon-remove"> </a></abbr></td>
        </tr>
        }
    </tbody>
</table>

<a href="/Home/Guardar" class="glyphicon glyphicon-plus"> Agregar</a>

